[Desktop Entry]
Type=Application
Name=LB Omnichord
Comment=Omnichord instrument using the AMY synthesizer
Exec=LB_Omnichord
Icon=LB_Omnichord
Categories=AudioVideo;Audio;Music;
Terminal=false
