[Unit]
Description=LB Omnichord Raspberry Pi performance governor

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/lib/lb-omnichord-rt/rt_pi_config.py set-governor performance
RemainAfterExit=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
